@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47% 11%;

    /* Couleurs principales */
    --primary: 249 95% 63%;
    --primary-hover: 249 95% 58%;
    --primary-foreground: 0 0% 100%;

    /* Couleurs secondaires (fonds neutres) */
    --secondary: 220 14% 96%;
    --secondary-hover: 220 14% 92%;
    --secondary-foreground: 222 47% 11%;

    /* Zones attenuées (cards neutres, background doux) */
    --muted: 220 14% 97%;
    --muted-hover: 220 14% 94%;
    --muted-foreground: 220 8% 46%;

    /* Couleur d'accentuation (liens, focus subtils) */
    --accent: 249 95% 63%;
    --accent-hover: 249 95% 70%;
    --accent-foreground: 0 0% 100%;

    /* Vertes pour les actions de succès */
    --success: 150 60% 45%;
    --success-hover: 150 60% 50%;
    --success-foreground: 150 70% 90%;

    /* Rouges pour les actions destructives */
    --destructive: 0 84% 60%;
    --destructive-hover: 0 84% 55%;
    --destructive-foreground: 0 0% 98%;

    /* Bordures et champs */
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 249 95% 63%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Rayons (arrondis par défaut) */
    --radius: 0.5rem
  }
  .dark {
    /* --background: 224 71% 4%; */
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;

    --card: 222 47% 11%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 100%;

    --primary: 249 95% 63%;
    --primary-hover: 249 95% 70%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 16% 27%;
    --secondary-hover: 215 16% 32%;
    --secondary-foreground: 0 0% 100%;

    --muted: 215 16% 20%;
    --muted-hover: 215 16% 25%;
    --muted-foreground: 217 20% 65%;

    --accent: 249 95 63%;
    --accent-hover: 249 95 70%;
    --accent-foreground: 0 0% 100%;

    --success: 150 70% 60%;
    --success-hover: 150 60% 65%;
    --success-foreground: 150 60% 15%;

    --destructive: 0 62% 50%;
    --destructive-hover: 0 62% 45%;
    --destructive-foreground: 0 0% 100%;

    --border: 215 16% 27%;
    --input: 215 16% 27%;
    --ring: 249 95% 63%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans transition-colors duration-500;
  }
}